<div class="row justify-content-between mx-0 text-center">
    <div class="col-md-5 bg-secondary text-white rounded my-4 px-5 py-2">
        <h2>{{ agencyMostSales.name }}</h2>
        <p class="h1">$ {{ agencyMostSales.totalSales }}</p>
    </div>
    <div class="col-md-5 bg-secondary text-white rounded my-4 px-5 py-2">
        <h2>Mes Más Ventas</h2>
        <p class="h1">Enero</p>
    </div>
</div>

<div class="table-responsive-md">
    <table class="table table-bordered w-100">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre Empresa <button (click)="sortByAgencys()" class="btn py-0 px-3">{{ symbolAgencys }}</button></th>
                <th scope="col">Total de ventas <button (click)="sortBySales()" class="btn py-0 px-3">{{ symbolSales }}</button></th>
                <th scope="col">Comisión</th>
                <th scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of orderedSales">
                <td>{{ sale.nameAgency }}</td>
                <td>{{ sale.finalPrice }}</td>
                <td>{{ sale.finalPrice * 0.025 }}</td>
                <td><a (click)="getData()" href="#" class="btn btn-secondary btn-block">Ver detalles</a></td>
            </tr>
        </tbody>
    </table>
</div>