<div class="d-flex justify-content-between text-center my-3">
    <div class="col-md-5 bg-secondary text-white rounded px-5 py-2">
        <h2>Empresa Más Ventas</h2>
        <p class="h1">$850.000</p>
    </div>
    <div class="col-md-5 bg-secondary text-white rounded px-5 py-2">
        <h2>Mes Más Ventas</h2>
        <p class="h1">Enero</p>
    </div>
</div>

<table class="table table-bordered w-100">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre Empresa</th>
            <th scope="col">Total de ventas</th>
            <th scope="col">Comisión</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
            <td><a href="/" class="btn btn-secondary btn-block">Ver detalles</a></td>
        </tr>
    </tbody>
</table>