<p class="py-3">
    <a href="">Empresas</a> >
    <span>Nombre Empresa</span>
</p>

<table class="table table-bordered w-100">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Personas</th>
            <th scope="col">Día</th>
            <th scope="col">Hora</th>
            <th scope="col">Valor Venta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
            <td>Lorem, ipsum dolor.</td>
        </tr>
    </tbody>
</table>